body {
    background: #111;
    color: #eee;
    font-family: Arial;
    text-align: center;
}

.card {
    background: #222;
    padding: 20px;
    margin: 20px auto;
    width: 85%;
    border-radius: 10px;
}

.controls button, .card button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background: #0af;
    color: white;
    cursor: pointer;
}

input {
    width: 120px;
    padding: 6px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}
